
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-left: 200px;
  list-style: none;
}

:root {
  
  --background-color: #ffffff;
  --background-color-light: #f5f3f5;

  --header-height: 5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: rgb(107, 152, 87);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: rgb(54, 54, 54);
  --text-color-light: hsl(0 0% 98%);
  --topo-color: rgb(255, 255, 255);
  --body-color: rgb(255, 255, 255);
  --color-grid-selecao: rgba(255, 255, 255, 0.915);


  /*para fontes*/
  --title-font-size: 1.3rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Popins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

}

body {
  font: 10rem 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

html{
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

#header {
  display: flex;
  box-shadow: 1px 1px 20px #0000001c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--topo-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
}

/*topoo*/
.container {
  /*max-width: 100%;
  margin: 0 auto;
  background-color: var(--background-color-light);*/
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid{
  display: flex;
  gap: 2rem;
}

.title {
  font-size: 1.1rem;
  font-family: var(--title-font);
  color: var(--title-color);
  margin-right: 20px;
  -webkit-font-smoothing: auto;
}

/*logo*/
.logo{
  width: 40%;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 30px;
}


/*==== NAVIGATION =======================*/
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  text-decoration: underline;
  transition: font-size 0.2s;
  font-size: 1.3rem;
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}


/*Produtosss*/
.pesq{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: black;
    padding-top: 7%;
}

.pesquisa {
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;

  border: 3px solid black;
  border-radius: 5rem;

  padding: 1rem;
  width: 30%;
  height: 5%;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.pesquisaBotao{
  width: 10%;
  justify-items: left;
}

.pesquisaBotao button{
  border: none;

  background-color: var(--background-color);
  color: var(--background-color);

  cursor: pointer;
}

.pesquisa input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.divisoes {  
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 100%;
}

.pesquisaTexto {
  margin-left: 30px;
}

.pesquisaTexto input {
  /*<<<<<<< HEAD
  <<<<<<< HEAD*/
    background-color: #6ba884;
  /*=======*/
    background-color:  #8dc78d;
  /*>>>>>>> 7cdf7236fcfeb517d9c6e4092fadfa6a0a179602*/
  /*=======*/
    background-color:  var(--background-color);
  /*>>>>>>> 376e6ffe1187f89210d52f2d827870568be8b3e5*/
    width: 150%;
}

input[type="file"] {
  display: none;
}

.max-width {
  max-width: 500px;
  width: 100%;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgPhoto {
  justify-content: center;
  margin-top: 10%;

  width: 9.75rem;
  height: 9.75rem;
  padding: 0.2rem;

  background-color: azure;

  border: 0.25rem solid black;
  border-radius: 50%;

  cursor: pointer;
  transition: .3s;
}

#imgProduto {
  justify-content: center;
  margin-top: 10%;

  width: 5rem;
  height: 5rem;
  padding: 0.05rem;

  background-color: azure;

  border: 0.2rem solid black;
  border-radius: 0.55rem;

  cursor: pointer;
  transition: .3s;
}

#imgPhoto:hover, #imgProduto:hover {
  background-color: lightslategray;
}

.top-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color-light);
}

.top-bar-fixed {
  position: fixed;
  right: 0;
  left: 0;
  background-color: var(--background-color-light);
  /*margin: 0 30px;*/
}

.top-bar-content {
  max-width: 100%;
  margin: 0 auto;
  background: var(--background-color-light);
  text-align: center;
  /*padding: 30px 0;*/
}


.top-bar-content-link{
  text-decoration: none;
  color:black;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px; 
  font-weight:bolder;
  margin-top: 5%;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 3px;
  margin: 0 auto;
  background: #458345;
  text-align: center;
}

img{
  margin-top: 0%;
  margin-bottom: 1.5%;
  width: 35%;
}

#link{
  text-decoration: none;
  color: black;
  padding-left: 20px;
} 

/*cadastrar produtos*/ 
.cadastro_produtos{
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align:left; 
  width: 100%;
  padding:2px;
  margin-top: 1rem;
  
}

#cad_titulo{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #d9e7c3;
}

.form_cad_prod{
  background-color: var(--background-color);
  max-width: 100%;
  width: 80%;
  padding: 20px;
  left: 10%;
  right: 10%;
  width: 100%;
  height: 100%; 
}

.links{
  text-decoration: none;
  color:black;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px; 
  font-weight:bolder;
  margin-top: 50%;
 
}


.input-group {
  justify-content: space-between;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  margin: 10px 5px;
  padding: 10px;

  /* margin-left: 33%; */ /* Não acredito que seja a melhor opção para centralizar, porém vcs que decidam :) */
}

.input-box input {
  margin: 10px 0px;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  text-align: center;
  font-size:14px;
  font-family: 'Courier New', Courier, monospace;
  width: 400px;
}

.input-box input:hover {
  background-color: #a1cfa5;
}

.input-box input:focus-visible {
  outline: 1px solid #3d573a;
}

.input-box label{
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.input-box input::placeholder {
  color: black;
}



.buttons{
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

#button{
  width: 10%;
  height: 30px;
  cursor: pointer;
  background-color:#458345;
  border: 0px;
  border-radius: 10px;
  transition: 1s;
  padding-top: 10px;
  padding-bottom:10px;
  margin-right: 40px;
  box-shadow: 1px 1px 6px #0000001c;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-decoration: none;
}


#button:hover{
  background-color:rgb(13, 53, 5);
  color:rgb(112, 167, 91);
}


#altera_gravar, #altera_voltar, 
  #conf_exclusao, #editar, #exclui_voltar
{
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color:#458345;
  border: 0px;
  border-radius: 10px;
  transition: 1s;
  margin-right: 40px;
  box-shadow: 1px 1px 6px #0000001c;
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

#altera_voltar:hover,#altera_gravar:hover, 
  #conf_exclusao:hover, #editar:hover, #exclui_voltar:hover 
{
  background-color:rgb(13, 53, 5);
  color:rgb(112, 167, 91);
}

.tabela {  
  margin-left: 100px;
  margin-top: 10px;
  width: 1200px; 
  display:block;
  height: 1000px;
}


.fileira{
  display:block;
  margin-bottom: 5px; 
}

.cell{
  display:inline-block;
  padding: 5px 5px;
  margin-bottom: .5%;
  background-color: white;
  font-size: 10pt;
  border-radius: 5px;
}

.cellHeader{
  text-align: center !important;
}

.cellPeq{ /* cellId */
  width: 75px;
  font-family:sans-serif;
}

.cellGrande{ /* cellNome */
  width:145px;
  font-family:sans-serif;
}

.cellMedia{ /*cellMargemLucro */
  width: 105px;
  font-family:sans-serif;
}

.cellMenor{
  width: 60px;
  font-family:sans-serif;
}

.cellEnorme{
  width:200px;
  font-family:sans-serif;
}  

.row{
  margin-top:15px;
}




/*Seleção dos produtos*/
.container_selecao{
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height:max-content 100%;
  background-color: #e5eae5;
}

.selecaoProdutos{
  display:grid; 
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3,27%); 
  grid-template-rows: repeat(3, 450px);
  grid-column-gap: 5%;
	grid-row-gap: 10%;
  width:100%;
  height: 100%;
  background-color: #e5eae5;
}

.box_produto{
  background-color: var(--color-grid-selecao);
  border-radius: 5px;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.64);
  text-align: center;
  align-items: center;
  font-family:var(--body-font);
  font-size: 14px;
}

.img_selecao{
  margin-top: 5%;
  margin-bottom: 2%;
  width:200px;
  height:200px;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
}

.selecao_comprar{
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  padding: 14px 32px 15px;
  align-items: center;
  justify-content: center;
  width: 119px;
  height: 43px;
  background: #C5D8A4;
  color: #555555;
  box-shadow:  0 0 2px black;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 2%;
  margin-left: 34%;
}

.selecao_comprar:hover{
  background: #588068;
  color:#ffffff;
}


#selecao_esgotado{
  font-family:var(--body-font);
  font-size: 14px;
  color: red;
}



