
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-left: 80px;
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  
  --background-color: #ffffff;
  --background-color-light: #f5f3f5;

  --header-height: 6rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: rgb(107, 152, 87);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: rgb(54, 54, 54);
  --text-color-cadastor: hsl(0 0% 98%);
  --topo-color: rgb(255, 255, 255);
  --body-color: #ffffff;
  --color-grid-selecao: rgba(255, 255, 255, 0.915);
  --color-button-claro: #C5D8A4;
  --color-button-escuto: rgb(55, 77, 52); 
  --color-texto-claro-button: #ffffff;
  --color-texto-escuro-button: #212121;


  /*para fontes*/
  --title-font-size: 1.3rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Popins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

}

body {
  font: 10rem 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

html{
  background-color: var(--background-color);
  scroll-behavior: smooth;
}


#header {
  display: flex;
  box-shadow: 1px 1px 20px #0000001c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--topo-color);
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}

#header.scroll {
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
}

/*topoo*/
.container {
  /*max-width: 100%;
  margin: 0 auto;
  background-color: var(--background-color-light);*/
  margin-left: 3rem;
  margin-right: 3rem;
}

.grid{
  display: flex;
  gap: 1rem;
  margin-right: 30px;
}

.title {
  font-size: 1.1rem;
  font-family: var(--title-font);
  color: var(--title-color);
  margin-left: 30px;
  -webkit-font-smoothing: auto;
}

/*logo*/
.logo{
  width: 55%;
  justify-content: center;
  margin-top: 14px;
}


/*==== NAVIGATION =======================*/
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  text-decoration: underline;
  transition: font-size 0.2s;
  font-size: 1.3rem;
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}


                        /* <<<<<<<<<< DIV PRINCIPAL - PRODUTOS, USUÁRIOS E SELEÇÃO >>>>>>>>>*/

.container_paginas{
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height:max-content 100%;
  background-color: var(--body-color);
  align-items: center;
  text-align: center;
}


                        /* <<<<<<<<<< SELEÇÃO_PRODUTOS_FRONT >>>>>>>>>*/


.selecaoProdutos{
  margin-top: 25px;
  display:grid; 
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3,27%); 
  grid-template-rows: repeat(3, 450px);
  grid-column-gap: 5%;
	grid-row-gap: 10%;
  width:100%;
  /*height: 100%;*/
  background-color: var(--body-color);
}


.box_produto{
  background-color: var(--color-grid-selecao);
  border-radius: 5px;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.64);
  text-align: center;
  align-items: center;
  font-family:var(--body-font);
  font-size: 14px;
}



.img_selecao{
  margin-top: 5%;
  margin-bottom: 2%;
  width:200px;
  height:200px;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
}


.img_selecao:hover{
  margin-top: 5%;
  margin-bottom: 2%;
  width:210px;
  height:210px;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  transition: 0.2s;
}

.selecao_comprar{
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  padding: 14px 32px 15px;
  align-items: center;
  justify-content: center;
  width: 119px;
  height: 43px;
  background: var(--color-button-claro);
  color: var(--color-texto-escuro-button);
  box-shadow:  0 0 2px black;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 2%;
  margin-left: 34%;
}

.selecao_comprar:hover{
  background: var(--color-button-escuto);
  color: var(--color-texto-claro-button);
  width: 125px;
  height: 50px;
  box-shadow:  0 0 4px black;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
}


#selecao_esgotado{
  font-family:var(--body-font);
  font-size: 14px;
  color: red;
}


                            /*<<<<<<<<< CLASS DA SELEÇÃO DETALHES >>>>>>>>>>>>>>>*/

.box_produto_detalhes{
  background-color: var(--color-grid-selecao);
  border-radius: 5px;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.64);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family:var(--body-font);
  font-size: 15px;
  width: 50%;
  height: 97%;
  margin-right: 25%;
  margin-left: 25%;
}


.selecao_detalhes_button{
  box-sizing: border-box;
  /* Auto layout */
  display: inline-block;
  padding: 14px 32px 15px;
  align-items: center;
  justify-content: center;
  width: 119px;
  height: 43px;
  background: var(--color-button-claro);
  color: var(--color-texto-escuro-button);
  box-shadow:  0 0 2px black;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.selecao_detalhes_button:hover{
    background: var(--color-button-escuto);
    color: var(--color-texto-claro-button);
    width: 125px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 4px black;
    transition: 0.2s;
}

.nome_produto{
  text-align: center;
  align-items: center;
  font-family:var(--body-font);
  font-size: 20px;
  color: bolder var(--text-color);
  padding-top: 5%;
}

.img_selecao_detalhes{
  margin-top: 5%;
  margin-bottom: 2%;
  width: 270px;
  height:270px;
  border-radius: 3px;
  box-shadow: 0 0 4px black;
}

/*---------------------------------------------------...-------------------------------------------------------------*/



/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<lINKS - adicionar produtos//usuarios>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.links{
  text-decoration: none;
  font: 16px var(--body-font);
  color: var(--text-color);
  margin-top:3%;
  padding: 14px 32px 15px;
  box-shadow:  0 0 2px black;
  border-radius: 6px;
  width: 20%;
  height: 4%;
  text-decoration: none;
  background-color: var(--color-button-claro);
}


                              /*<<<<<<<<<<<<PESQUISA DE PRODUTOS E USUÁRIOS>>>>>>>>>>>>>>>>>*/
.pesq{
  text-align: center;
  font: 1.5rem var(--body-font);
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 5%;
}

.pesquisa {
  margin-left: 35%;
  margin-right: 35%;

  border: 1px solid rgb(57, 56, 56);
  box-shadow:  0 0 2px black;
  border-radius: 6px;

  padding: 1rem;
  width: 30%;
  height: 5%;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #aab9aa;

}

.pesquisaBotao{
  width: 10%;
  margin-left: 12%;
  justify-items: left;
  justify-content: center;
  text-align: center;
  background-color: #aab9aa;
}

.pesquisaBotao button{
  border: none;
  background-color: #aab9aa;
  cursor: pointer;
}

.pesquisa input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  justify-content: center;
  margin-left:12%;
}

.divisoes {  
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
}

.pesquisaTexto {
  /*margin-left: 30px;*/
  font: 1rem var(--body-font);
  background-color: #aab9aa;
  justify-content: center;
  align-items: center;
  text-align: align;
}

.pesquisaTexto input {
    background-color:  #aab9aa;
    width: 115%;
}


/* ---------------------------------------------------..-------------------------------------------------*/


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<CADASTRO - TÍTULOS E DIV >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*.titulo{
  text-align: center;
  align-items: center;
  justify-content: center;
}*/

.cadastro_titulos{
  /*font: 20px bolder var(--title-font);
  color:#2c4429;
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: center;*/
  position: absolute;
  width: 328px;
  height: 48px;
  left: 519px;
  top: 25px;

  font: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #243D25;
}


.color_cadastros{
  background-color:#bed4be;
}
/*.img_titulo{
  position: absolute;
  width: 35px;
  height: 35px;
  left: 862px;
  top: 34px;
}*/





/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

input[type="file"] {
  display: none;
}

.max-width {
  display: block;
  align-items: center;
  margin-top:3%;
  max-width: 300px;
  width: 100%;
}

.imageContainer{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 75%;
}



#imgProduto {
  justify-content: center;
  /*margin-top: 10%;*/

  width: 6rem;
  height: 6rem;
  padding: 0.2rem;

  background-color:#ebf0e9;

  border: 1px #717171;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  cursor: pointer;
  transition: .3s;
}

#imgPhoto:hover, #imgProduto:hover {
  background:rgb(55, 77, 52);
}


img{
  margin-top: 0%;
  margin-bottom: 1.5%;
  width: 35%;
}




/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<CADASTRO DE PRODUTOS E USUÁRIOS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.form_cad_prod{
    display: flex;
    width: 550px;
    height: 660px;
    padding-top: 2.5%;
   
   
    margin-left: 30%;
    background: #C5D8A4;
    box-shadow: 0px 0px 4px rgb(55, 77, 52);
    border-radius: 8px;
  }

.campo_label{
  display: inline-block;


  width: 100px;
  height: 10px;
  
  font: 14px var(--body-font);
  font-weight: 500;

  color: #000000;
}

.campo_label_pequeno{
  display: inline-block;


  width: 80px;
  height: 10px;
  
  font: 14px var(--body-font);
  font-weight: 500;

  color: #000000;
}

.input_form_grande{
  display: block;
  box-sizing: border-box;


  width: 413px;
  height: 40px;

  margin-top: 2%;
  /*margin-left: 1%;*/

  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;

  background-color:#ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}


.input_form_pequeno{
  display: inline-block;
  box-sizing: border-box;

  width: 160px;
  height: 40px;

  margin-right: 1%;
  margin-top: 2%;


  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;
  align-items: center;

  
  background-color: #ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
  border-radius: 6px;
}


.input-box{
  margin-left: 0px;
  display: inline-block;
  margin-bottom: 5%;
}

.input-box-imagem{
  align-items: center;
  display: block;
  margin-bottom: 4%;

}

.input-box-2{
  display:inline;
  margin-bottom: 2%;
  margin-right: 5%;
}

input:hover{
  background-color: #fff5f5;
  transition: 0.3s;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<FORM ALTERA E EXCLUI PRODUTOS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.alt_form_prod{
  display: flex;
  width: 550px;
  height: 720px;
  padding-top: 2.5%;
 
 
  margin-left: 30%;
  background: #C5D8A4;
  box-shadow: 0px 0px 4px rgb(55, 77, 52);
  border-radius: 8px;
}


.input_grande_alt{
  display: block;
  box-sizing: border-box;


  width: 413px;
  height: 40px;

  margin-top: 4%;
  /*margin-left: 1%;*/

  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;

  background-color:#ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}


.input_pequeno_alt{
  display: inline-block;
  box-sizing: border-box;

  width: 160px;
  height: 40px;

  margin-right: 1%;
  margin-top: 4%;


  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;
  align-items: center;

  
  background-color: #ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
  border-radius: 6px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<USUÁRIOS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.form_cad_user{
  display: flex;
  width: 600px;
  height: 980px;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center; 

  margin-left: 28%;
  background: #C5D8A4;
  box-shadow: 0px 0px 4px rgb(55, 77, 52);
  border-radius: 8px;
}

.max-width-User{
  display: block;
  align-items: center;
  margin-top:5%;
  max-width: 300px;
  width: 100%;
}

.buttons_user{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.input_user_grande{
  display: block;
  box-sizing: border-box;


  width: 480px;
  height: 40px;

  margin-top: 2%;
  /*margin-left: 1%;*/

  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;

  background-color:#ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.input_block{
  display: block;
}

.input_user_pequeno{
  display: inline;
  box-sizing: border-box;

  width: 194px;
  height: 40px;

  margin-right: 1%;
  margin-top: 2%;


  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;
  align-items: center;

  
  background-color: #ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
  border-radius: 6px;
}


.input_user_medio{
  display: inline-block;
  box-sizing: border-box;

  width: 330px;
  height: 40px;

  margin-right: 1%;
  margin-top: 2%;


  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;
  align-items: center;

  
  background-color: #ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
  border-radius: 6px;
}

.input_user_peq2{
  display: inline;
  box-sizing: border-box;

  width: 60px;
  height: 40px;

  margin-right: 1%;
  margin-top: 2%;


  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;
  align-items: center;

  background-color: #ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
  border-radius: 6px;
}

.input_user_pequeno{
  display: inline-block;
  box-sizing: border-box;

  width: 190px;
  height: 40px;

  margin-right: 1%;
  margin-top: 2%;


  font: 14px var(--body-font);
  font-weight: 500;
  text-align: center;
  align-items: center;

  
  background-color: #ebf0e9;

  border: 1px transparent;
  box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
  border-radius: 6px;
}


.campo_label_peq2{
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
  width: 420px;
  height: 10px;
  font: 14px var(--body-font);
  color: #000000;
}

.campo_label_peq2 input{
  margin-left: 10px;
  margin-right: 0px;
}

#imgPhoto {
  justify-content: center;

  width: 9.75rem;
  height: 9.75rem;
  padding: 0.2rem;

  background-color:#ebf0e9;

  border: 0.25rem solid black;
  border-radius: 25px;

  cursor: pointer;
  transition: .3s;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<BUTTONS DE CADASTRO, ALTERAÇÃO E EXCLUSÃO>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.buttons{
  display: flex;
  margin-top: 5%;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.button_crud{
    box-sizing: border-box;
    display: inline-block;
    font: 14px var(--body-font);
    padding: 14px 32px 15px;
    align-items: center;
    text-align: center;
    width: 119px;
    height: 43px;
    background: var(--color-button-claro);
    color: var(--color-texto-escuro-button);
    box-shadow:  0 0 3px black;
    border-color: transparent;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 3%;
  }
  
.button_crud:hover{
      background: var(--color-button-escuto);
      font: 14px var(--body-font);
      color: var(--color-texto-claro-button);
      width: 125px;
      height: 50px;
      align-items: center;
      box-shadow:  0 0 3px black;
      transition: 0.2s;
  }





/*<<<<<<<<<<<<<<<<<<<<<<<<<<<TABELA>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.tabela {  
  /*margin-left: 10px;*/
  margin-top: 4%;
  width: 95%; 
  display:block;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.fileira{
  display:block;
  margin-bottom: 5px; 
  font: 16px var(--body-font);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cell{
  display:inline-block;
  padding-top: 1.9%;
  padding-bottom:1.9%;
  margin-bottom: .5%;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button-claro);
}

.cellHeader{
  background-color: var(--color-button-claro);
}

.cellPeq{ /* cellId */

  width: 75px;
  height: 70px;
  color: var(--text-color);
  margin-left: 70px;
  text-align: center;
}

.cellGrande{ /* cellNome */
  align-items: center;
  width:145px;
  height: 70px;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
}

.cellMedia{ /*cellMargemLucro */
  align-items: center;
  width: 105px;
  height: 70px;
  color: var(--text-color);
  text-align: center;
  margin-left: 100px;
}

.cellMenor{
  align-items: center;
  width: 100px;
  height: 70px;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
}

.cellEnorme{
  align-items: center;
  width:250px;
  height: 70px;
  color: var(--text-color);
  text-align: center;
}  

.cellEnormeImg{
  align-items: center;
  width:250px;
  height: 70px;
  color: var(--text-color);
  text-align: center;
}  

.row{
  margin-top:15px;
  margin-top: 10px;
  font: 14px var(--body-font);
}




/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<HOME>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.section {
  margin-top: 20%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.text {
  width: 40%;
  text-align: left;
  font-family: var(--body-font);
  margin-top: 15%;
  height: 5%;
  margin-left: 15%;
}

.text h1 {
  font-size: 2rem;
}

.text a:link, .text a:visited {
  
  background-color: #458345;
  margin-top: 50px;

  border: 10px;
  border-radius: .25rem;

  padding: 10px;
  color: #f5f3f5;
}

.btn{
  margin-top: 40px;
}

.img{
  margin-left: 200px;
  /* margin-top: 15%; */
  margin-right: 10%;
}

.img img{
  margin-top: 250px;
  width: 632.2px;
  height: 405px;  
  box-shadow: 3rem -3rem 0 #ffcceb;
}
